.app.dark {
    --bg-color: #01061d;
    --inverted-bg-color: #7392c0;

    --primary-color: #888171;
    --secondary-color: #081448;
    --inverted-primary-color: rgb(100, 14, 26);
    --inverted-secondary-color: rgb(153, 204, 153);
}