.app.dark {
    --bg-color: #01061d;
    --inverted-bg-color: #b1b7c0;

    --primary-color: #888171;
    --secondary-color: #081448;
    --inverted-primary-color: rgb(15,15,15);
    --inverted-secondary-color: rgb(153, 204, 153);
}