.app.light{
    --bg-color: #7392c0;
    --inverted-bg-color: #01061d;

    --primary-color: rgb(100, 14, 26);
    --secondary-color: rgb(153, 204, 153);
    --inverted-primary-color: #888171;
    --inverted-secondary-color: #081448;
}