.app.light{
    --bg-color: #b1b7c0;
    --inverted-bg-color: #01061d;

    --primary-color: rgb(15, 15, 15);
    --secondary-color: rgb(153, 204, 153);
    --inverted-primary-color: #888171;
    --inverted-secondary-color: #081448;
}