.app.light{
    --bg-color: #1966db;
    --inverted-bg-color: #051630;

    --primary-color: rgb(70, 207, 70);
    --secondary-color: rgb(153, 204, 153);
    --inverted-primary-color: rgb(14, 42, 14);
    --inverted-secondary-color: rgb(91, 120, 91);
}